head {
	font-family: "Verdana";
}
body {
	font-family: "Lucida Bright";
}
/* .notesToMe { */
/* 	color: red; */
/* } */
.titleBar {
	text-align: center;
	background-color: #99b3e6;
}
#tinyVersionStamp{
/* 	font-size: .5em; */
	color: #282828;
	margin-bottom: -2em;
	text-align: center;
}
#userInfoGridDiv {
	border: .05em solid #ffcccc;
	border-radius: 4em;
	display: inline-block;
}
.greyText {
	color: #282828;
}
.strongText {
	font-weight: bold;
}
.error {
	color: red;
}
#startOfExam {
	padding-top: 0.7em;
}
aside {
	display: inline-block;
	float: right;
	font-size: .8em;
	color: #282828;
}
fieldset {
/* 	border: .1em solid #; */
	margin-top: 2em;
	margin-bottom: 2em;
}
legend {
	font-size: 1.5em;
	color: #4b4b4b;
}
table {
/* 	border: 1px solid green; */
	padding: 1.5em;
}
/* .questionAnswersTable { */
/* 	width: 85%; */
/* } */
/* #submitButton { */
/* 	font-size: 1.6em; */
/* 	font-weight: strong; */
/* 	border-color: #b3ffb3; */
/* 	margin: 5%; */
/* } */
.hidden {
	visibility: hidden;
}
#resetButton {
	float: right;
	margin: 5%;
	border-color: #ffcccc;
}
.QuestionText {
	font-weight: bold;
}
/* .AnswerText { */
/* 	padding-left: 2em; */
/* } */
/* .answerBoolean { */
/* 	color: grey; */
/* } */
.linkLikeButton{
	text-align: center;
	text-decoration: none;
	background-color:#b8ecb7;
	border:1px solid #c0c0c0;
	border-radius:5px;
	margin-right: 10px;
	padding:10px 10px 10px 10px;	
}
#certificateDiv {
/* 	border: 1px solid green; */
	width: 50em;
	height: 40em;
}
img {
	position: relative;
	width: 50em;
	z-index: -1;
}
#userNameOverlayOnCertificate {
	position: absolute;
	left: 11.5em;
	top: 8.8em;
}
#dateOverlayOnCertificate {
	position: absolute;
	left: 12em;
	top: 41em;
}
